@import url("typography.css");

// COLORS
// Primary
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// Accent
$blue: hsl(248, 32%, 49%);

// Neutral
$darkBlue: hsl(249, 10%, 26%);
$grayishBlue: hsl(246, 25%, 77%);

// BOOTSTRAP

// Include any default variable overrides here (though functions won't be available)
@import "../bootstrap/scss/bootstrap";

// Required
@import "../bootstrap/scss/functions";

// Required
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

html,
body {
  min-width: 100vw;
}

body {
  min-height: 100vh;
  background: $red url("../images/bg-intro-mobile.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

// MAIN
.container {
  // COMPONENT DETAILS SECTION
  .component-details-section {
    // HEADER
    .component-details-header {
      font-family: "Poppins-Bold";
      text-align: center;
    }

    // PARAGRAPH
    .component-details-paragraph {
      font-family: "Poppins-Regular";
      text-align: center;
      line-height: 1.65rem;
    }
  }

  // COMPONENT FORM SECTION
  .component-form-section {
    // PARAGRAPH
    .component-form-paragraph-box {
      width: 100%;
      border-radius: 0.4rem;
      box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.2);

      .component-form-paragraph {
        .component-form-paragraph-highlight {
          font-family: "Poppins-SemiBold";
        }

        font-family: "Poppins-Regular";
        font-size: 0.95rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        line-height: 1.5rem;
      }
    }

    // REGISTER FORM
    .component-form-register {
      border-radius: 0.4rem;
      box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.2);

      // BADGE
      .position-absolute {
        display: none;
        top: 18%;
        left: 85%;

        .badge {
          font-size: 0.95em;
        }
      }

      .show-badge-icon {
        display: block !important;
      }

      // INPUT FIELD
      input {
        font-family: "Poppins-SemiBold";
        font-size: 0.9rem;
      }

      input.error-box {
        border-color: hsl(0deg, 100%, 74%);
        border-width: 2px;
      }

      p.error-message {
        display: none;
        font-family: "Poppins-SemiBold";
        font-style: italic;
        font-size: 0.7rem;
      }

      .show-error {
        display: block !important;
      }

      button {
        width: 100%;
        text-transform: uppercase;
        font-family: "Poppins-Medium";
        box-shadow: 0px 4px 1px hsl(155, 73, 67);

        &:hover {
          cursor: pointer;
        }
      }

      .term-and-conditions-paragraph {
        color: $grayishBlue;
        font-family: "Poppins-Regular";
        font-size: 0.65rem;
        line-height: 1.25rem;

        .term-and-conditions-paragraph-highlight {
          font-family: "Poppins-Bold";
        }
      }
    }
  }
}

// LARGE DESKTOP
@media only screen and (min-width: 1200px) {
  body {
    background: $red url("../images/bg-intro-desktop.png");
  }

  // MAIN
  .container {
    // COMPONENT DETAILS SECTION
    .component-details-section {
      // HEADER
      .component-details-header {
        font-size: 3rem;
        text-align: start;
        margin-top: 7.5rem;
      }

      // PARAGRAPH
      .component-details-paragraph {
        font-size: 1rem;
        text-align: start;
        line-height: 1.75rem;
      }
    }

    // COMPONENT FORM SECTION
    .component-form-section {
      // PARAGRAPH
      .component-form-paragraph-box {
        width: 93%;
      }

      // REGISTER FORM
      .component-form-register {
        width: 93%;

        // INPUT FIELD
        input {
          width: 91%;
        }

        button {
          width: 91%;
        }

        .term-and-conditions-paragraph {
          font-size: 0.7rem;
        }
      }
    }
  }
}
